/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
	
	/* wraper_header_main */
	
	.nav.menu > ul > li{
		margin:0px 10px 0px 10px;
	}
	
	.nav.menu > ul > li:first-child{
		margin:0px 10px 0px 0px;
	}
	
	.nav.menu > ul > li:last-child{
		margin:0px 0px 0px 10px;
	}
	
	/* LOCATION WHERE PAGE */
	
	/* wraper_location_where */
	
	.wraper_location_where:before{
		width:50%;
	}
	
	/* LOCATION STORE PAGE */
	
	/* wraper_location_store */
	
	.wraper_location_store > .location-store-map{
		width:50%;
	}
	
	/* MENU PAGE */
	
	/* wraper_menu_tab */
	
	.menu_tab ul.nav-tabs > li{
		margin:0px 20px 0px 20px;
	}
	
}


/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){
	.productList ul li{ width:50%}
	/* modal */
	
	#MenuSelect .modal-content{
		padding:0;
	}
	
	#MenuSelect .modal-content:before{
		display:none;
	}
	
	/* wraper_header_main */
	
	.logo{
		position:static;
		width:100%;
		margin:0px 0px 15px 0px;
		text-align:center;
	}
	
	.nav{
		width:100%;
	}
	
	/* LOCATION WHERE PAGE */
	
	/* wraper_location_where */
	
	.wraper_location_where:before{
		display:none;
	}
	
	.wraper_location_where > .container{
		padding-top:100px;
		padding-bottom:110px;
	}
	
	/* LOCATION STORE PAGE */
	
	/* wraper_location_store */
	
	.wraper_location_store > .location-store-map{
		width:100%;
		height:280px;
	}
	
	.wraper_location_store > .container{
		padding-top:300px;
		padding-bottom:60px;
	}
	
	/* MENU PAGE */
	
	/* wraper_menu_tab */
	
	.menu_tab ul.nav-tabs > li{
		width:100%;
		margin:0;
	}
    footer {
    position: relative;
    width: 100%;
    padding: 15px 0;
    z-index: 100;
    color: #444;
    margin-left:5%;
}
	
}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

footer {
    position: relative;
    width: 100%;
    padding: 15px 0;
    z-index: 100;
    color: #444;
    margin-left:5%;
}
	
	/* modal */
	
	#MenuSelect .modal-content{
		padding:0;
	}
	
	#MenuSelect .modal-content:before{
		display:none;
	}
	
	/* wraper_header_main */
	
	.logo{
		position:static;
		width:100%;
		margin:0px 0px 15px 0px;
		text-align:center;
	}
	
	.nav{
		width:100%;
	}
	
	/* LOCATION WHERE PAGE */
	
	/* wraper_location_where */
	
	.wraper_location_where:before{
		display:none;
	}
	
	.wraper_location_where > .container{
		padding-top:60px;
		padding-bottom:70px;
	}
	
	/* LOCATION STORE PAGE */
	
	/* wraper_location_store */
	
	.wraper_location_store > .location-store-map{
		width:100%;
		height:250px;
	}
	
	.wraper_location_store > .container{
		padding-top:270px;
		padding-bottom:60px;
	}
	
	/* MENU PAGE */
	
	/* wraper_menu_tab */
	
	.menu_tab ul.nav-tabs > li{
		width:100%;
		margin:0;
	}
	.productList ul li{ width:100%}
}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){
	
	/* modal */
	
	#MenuSelect .modal-content{
		padding:0;
	}
	
	#MenuSelect .modal-content:before{
		display:none;
	}
	
	/* wraper_header_main */
	
	.logo{
		position:static;
		width:100%;
		margin:0px 0px 15px 0px;
		text-align:center;
	}
	
	.nav{
		width:100%;
	}
	
	.nav.menu > ul > li{
		margin:0px 10px 0px 10px;
	}
	
	.nav.menu > ul > li:first-child{
		margin:0px 10px 0px 0px;
	}
	
	.nav.menu > ul > li:last-child{
		margin:0px 0px 0px 10px;
	}
	
	/* LOCATION WHERE PAGE */
	
	/* wraper_location_where */
	
	.wraper_location_where:before{
		display:none;
	}
	
	.wraper_location_where > .container{
		padding-top:60px;
		padding-bottom:70px;
	}
	
	/* LOCATION STORE PAGE */
	
	/* wraper_location_store */
	
	.wraper_location_store > .location-store-map{
		width:100%;
		height:200px;
	}
	
	.wraper_location_store > .container{
		padding-top:220px;
		padding-bottom:60px;
	}
	
	/* MENU PAGE */
	
	/* wraper_menu_tab */
	
	.menu_tab ul.nav-tabs > li{
		width:100%;
		margin:0;
	}

}
@media screen and (max-width:1279px){
	/*.logo{position:relative}*/
.nav > ul.changeStore > li{ display:block!important; text-align:left;}
.nav > ul.changeStoreSelect > li{ display:block!important; text-align:left; margin-bottom:5px;}
.container{width:100%;}
}

@media screen and (max-width:1023px){
	.nav > ul.changeStore > li em{display:block!important;}
	h1, h2, h3, h4, h5, h6{line-height:18px;}
.card .detail{ padding:7px; min-height:52px;}
.productList ul li {
       
        padding: 0 10px 10px;
    }
	.productList {
    padding: 0 20px;
}
.modal-content-before{ position:relative; width:100%;}
#MenuSelect .modal-content{ padding:0 ;}

}
@media screen and (max-width:767px){
	.nav > ul.changeStore > li em{display:inline-block!important;}
.nav > ul.changeStore > li{text-align:center}
.nav > ul.changeStoreSelect > li{text-align:center}
.nav > ul.changeStoreSelect > li select{width:50%;}

	.productList{ padding:0 10px;}
.productList ul li{ width:50%}
footer{ margin-left:0; text-align:center;}
}
@media screen and (max-width:479px){

	/*.nav > ul > li{ font-size:11px!important; margin:0 10px 10px!important; display:block;}
		.nav > ul.changeStore > li{ margin:0!important;}*/
	.nav > ul > li select{ display:block!important; width:100%;!important}
.productList ul li{ width:100%}
.wraper_header .container{padding-left:0!important; padding-right:0!important;}
}